html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.main_section{
    background: rgb(0, 255, 136);
    height: 100%;
    padding: 10px;
    
}

.form_container{
    width: 450px;
    height: 500px;
    border-radius: 5px;
    background: white;
    margin:50px auto;
    padding: 10px;
}
.form_heading_container{
    text-align: center;
}
.Form_heading{
    font-family: calibri light;
    color: rgb(0, 255, 136);
    font-weight: 700;
    font-size: 28px;
}



.form_container input,select{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border: 3px solid rgb(236, 236, 236);
    outline: none;
    border-radius: 3px;
    
}
select{
    width: 326px;
}
.btn_compute{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    font-family: calibri light;
    font-weight: 900;
    color: white;
    background: rgb(0, 255, 136) ;
    outline: none;
    border:0px;
    font-size: 16px;
    border-radius: 3px;
    
}
::placeholder{
    color:rgb(192, 188, 188);
    font-family: calibri light;
    font-size: 16px;
    font-weight: 600;
}

.fa{
    font-family: calibri light;
    font-weight: 700;
    
}
.container{

    justify-content: center;
    padding: 10px;
    background:black;
}
.container2{
    
    padding: 10px;
    background:blue;
}

@media(max-width:500px){
   
    .form_container{
        width: 250px;
        height: 500px;
        border-radius: 5px;
        background: white;
        margin:auto;
        padding: 10px;
        
    }

    
.form_container input,select{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 180px;
    border: 3px solid rgb(236, 236, 236);
    outline: none;
    border-radius: 3px;

    
}
select{
    width: 206px;
}
.main_section{
    background: rgb(0, 255, 136);
    padding: 20px;
    overflow:auto;
    
    
}

}